
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway:wght@200&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  
}
body{
  background: rgb(34, 34, 34);
  overflow-x: hidden;
}


.form{
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)),url('https://blog.sciencebee.com.bd/ufuchecm/2020/10/top-view-wooden-spoon-with-brown-sugar-black-background-with-copy-space_141793-9337.jpg');
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-box
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  min-height: 450px;
  color: white;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid white;
  box-shadow: 0 0 20px white;
}

.inner-form{
  margin: 2em 0;
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-box h1{
  margin-top: 1em;
  letter-spacing: 2px;
}

.inner-form> div>  input{
  padding: 10px;
  width: 250px;
  border-radius: 20px;
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 15px;

}
.inner-form> div>  input::placeholder{
  color: white;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 2px;
}
.inner-form >input{
  margin-top: 20px;
}

.inner-form > div{
  width: 65%;
  margin:1.5em 0;
  border-bottom: 1px solid white;
}

.inner-form>input {
  padding: 10px;
  width: 100px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2px;
  transition: ease-in-out 0.1s;
}
.inner-form > input:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px white;
  cursor: pointer;
}
.inner-form a{
  align-self: flex-end;
  margin-right: 17.5%;
  color: white;
  font-size: small;
  text-decoration: none;
}
.inner-form a:hover{
  text-decoration: underline;
}

@media (max-width: 400px) {
  /* .inner-form > div{
    width: 80%;
  } */
}

.dropdown {
  font-size: 20px;
  width: 300px;
  color: white;
  filter: drop-shadow(0 0 10px rgba(11, 11, 11, 0.5));
  position: relative;
  padding: 10px 40px;
  background-color: #9a9a00;
  border-radius: 10px;
  text-align: center;
  transition: ease 0.2s;
}

.dropdown .dropdown-content {
  display: none;
  text-align: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  left: 0;
  top: 70%;
  background-color: #9b9b00;
  border-radius: 10px;
  transition: ease 0.2s;
  margin-top: 12px;
}

.dropdown .dropdown-content span {
  
  padding: 10px;
  transition: background-color ease 0.3s;
}

.dropdown:hover .dropdown-content {
  display: flex;

}

.dropdown-content span:hover {
  background-color: #cfcf00;
  border-radius: 10px;
  cursor: pointer;
}

.stars{
  margin: 2em 0em;
}
.stars button{
  padding: 1em;
  font-size: 30px;
}
.stars button:hover{
  background-color: yellow;
}

.home{
  height: 100vh;
  color: white;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home .home-inner{
  /* border: 1px solid white; */
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: cneter;
}

.home .home-inner>h1{
  color: white;
  font-size: 30px;
  text-align: center;
  margin: 2em 0;
  letter-spacing: 2px;
}
.star-rating {
  margin: 2em 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.star-rating input { 
  display: none;
}
.star-rating label{
  font-size: 40px;
  columns: #444;
  transition: all 0.2s ease;
}

.star-rating input:not(:checked) ~ label:hover, 
.star-rating input:not(:checked) ~ label:hover ~ label{
  color: yellow;
}
input:checked ~ label{
  color: yellow;
}
.chooseRate{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chooseRate > h4{
  text-align: center;
  margin: 1em 0;
}
.dropdownMenu{
  display: flex;
  justify-content: center;
  width: 100%;
}

.formform{
  transition: all ease 0.2s;
  width: 100%;
  justify-items: center;
}
.formform textarea{
  background-color: rgb(23, 23, 23);
  transition: all ease 0.2s;
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  color: white;
  font-size: larger;
  padding: 10px;
}
.formform textarea::placeholder{
  color: whitesmoke;
}

.ratingSubmit{
  padding: 10px;
  margin: 1em 0;
  background-color: rgb(0, 103, 22);
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 20px;
  transition: 0.1s ease;
}
.ratingSubmit:hover{
  box-shadow: 0 0 10px white;
  transform: scale(1.05);

}

.log-out{
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(149, 0, 0);
  margin: 1em 0;
  color: white;
  border: none;
  border-radius: 20px;
  width: 130px;
  align-self: center;
  transition: 0.1s ease;
}
.log-out:hover{
  transform: scale(1.05);
  box-shadow:  0 0 5px white;
}

.avg-rating {
  margin: 2em 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.avg-rating input { 
  display: none;
}
.avg-rating label{
  font-size: 40px;
  columns: #444;
  transition: all 0.2s ease;
}

.printStar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  margin-bottom: 0;
  border-bottom: 2px solid white;
  border-top: 2px  solid white;
}
.printStar p{
  margin: 1em 0;
}

.printStar h1{
  color: yellow;
  margin-bottom: 1em;
}